{% extends 'base.html.twig' %}

{% block title "Panier" %}

{% block body %}
    <h1 class="mt-4">Mon panier</h1>
    {% if panier is not empty %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Produit</th>
            <th scope="col">Prix</th>
            <th scope="col">Quantité</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for item in panier %}
            {% set product = item['item'] %}
            {% set quantity = item['quantity'] %}
            <tr>
                <td><img src="{{ asset(product.visuel) }}" alt="{{ product.libelle }}" height="50px">{{ product.libelle }}</td>
                <td>{{ product.prix | currency_convert | format_currency(app.session.get('currency')) }}</td>
                <td>
                    <a href="{{ path('panier.enlever', {productId: product.id}) }}">
                        <i class="fa fa-minus mr-2"></i>
                    </a>
                    {{ quantity }}
                    <a href="{{ path('panier.ajouter', {productId: product.id}) }}">
                        <i class="fa fa-plus ml-2"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('panier.supprimer', {productId: product.id}) }}">
                        <i class="far fa-trash-alt text-danger"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>Total : {{ prix | currency_convert | format_currency(app.session.get('currency')) }}</h2>
        <a href="{{ path('panier.valider') }}" class="btn btn-primary">Valider le panier</a>
    {% else %}
    <p>Le panier est vide.</p>
    {% endif %}
{% endblock %}