{% extends 'base.html.twig' %}

{% block title "Accueil" %}

{% block beforeContainer %}
<div class="home-container">
    <img src="{{ asset('images/market.jpg') }}" class="img-fluid img-home-container" alt="marché de fruits">
    <div class="text-home-container">
        <h1>{{ 'default.home.title' | trans }}</h1>
        <a href="{{ path("boutique") }}" class="btn btn-secondary">{{ 'default.home.boutique_button' | trans }}</a>
    </div>
</div>
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="card col-md-3 text-center">
            <div class="card-title">
                <span class="big-icon" style="">
                    <i class="far fa-envelope"></i>
                </span>
                <h2>{{ 'contact' | trans }}</h2>
            </div>
            <div class="card-body">
                <a href="{{ path('contact') }}" class="btn btn-primary">{{ 'default.home.contact_us' | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}