{% extends 'base.html.twig' %}

{% block title "Les produits" %}

{% block body %}
<h1 class="text-center mt-4">{{ category.libelle }} - {{ products | length }} Produit{{ products | length > 1 ? 's' : false }}</h1>
<div class="row">
    {% for product in products %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ asset(product.visuel) }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ product.libelle }}</h5>
                    <p class="card-text">{{ product.texte }}</p>
                    <a href="{{ path('panier.ajouter', { productId: product.id }) }}" class="btn btn-success">Ajouter au panier {{ render(controller('App\\Controller\\PanierController::afficherNbProduit', {productId: product.id})) }}</a>
                </div>
                <div class="card-footer text-muted">
                    {{ product.prix | currency_convert | format_currency(app.session.get('currency')) }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

