<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('index') }}">{{ 'navbar.title' | trans }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('boutique') }}">{{ 'store' | trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ 'product' | trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contact') }}">{{ 'contact' | trans }}</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" id="searchText" type="search" placeholder="{{ 'navbar.search_product' | trans }}" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" id="searchButton" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</nav>